*.gv
*.pdf
*.pt
*.bat
__pycache__/*
**/__pycache__/**
**/.neptune/**
**/.pytest_cache/**
tmp/
**/.ipynb_checkpoints/
.idea
.neptune
models/*

!models/.gitkeep
.bashrc*

results/*
!results/.gitkeep

data
!data/.gitkeep
