*.gv
*.pdf
*.pt
*.bat
__pycache__/*
**/__pycache__/**
**/.neptune/**
**/.pytest_cache/**
**/samples/**
**/dataset_stats/**
code/external/ImageNet_downloader
code/examples/data
code/external/cifar2png-master
tmp/
**/.ipynb_checkpoints/
.idea
.neptune
models/*
!models/.gitkeep
.bashrc*

results/*
!results/.gitkeep

data/*
!data/.gitkeep

unity_projects/
.vonenet
code/examples/**